In [5]:
import numpy as np
import pandas as pd

In [2]:
dates = pd.date_range('20130101', periods=6)

In [3]:
dates = pd.date_range('20130101', periods=6)

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2013-01-01  0.717952 -1.115169  1.004862  1.536368
2013-01-02 -0.889505 -0.138052  1.426231 -2.198064
2013-01-03 -0.300876 -0.860324  0.704711  1.015204
2013-01-04 -0.240824 -0.126300 -0.053645 -0.354449
2013-01-05 -0.209319 -0.975770 -0.578203 -0.838769
2013-01-06 -0.333299 -0.562387  0.889329  0.253120

In [8]:
df[0:3]

                   A         B         C         D
2013-01-01  0.717952 -1.115169  1.004862  1.536368
2013-01-02 -0.889505 -0.138052  1.426231 -2.198064
2013-01-03 -0.300876 -0.860324  0.704711  1.015204

In [11]:
df['20130101':'20130103']

                   A         B         C         D
2013-01-01  0.717952 -1.115169  1.004862  1.536368
2013-01-02 -0.889505 -0.138052  1.426231 -2.198064
2013-01-03 -0.300876 -0.860324  0.704711  1.015204

In [12]:
df.iloc[3]

A   -0.240824
B   -0.126300
C   -0.053645
D   -0.354449
Name: 2013-01-04 00:00:00, dtype: float64

In [13]:
len(df)

6

In [14]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)

In [15]:
s

2013-01-01    NaN
2013-01-02    NaN
2013-01-03    1.0
2013-01-04    3.0
2013-01-05    5.0
2013-01-06    NaN
Freq: D, dtype: float64

In [16]:
df

                   A         B         C         D
2013-01-01  0.717952 -1.115169  1.004862  1.536368
2013-01-02 -0.889505 -0.138052  1.426231 -2.198064
2013-01-03 -0.300876 -0.860324  0.704711  1.015204
2013-01-04 -0.240824 -0.126300 -0.053645 -0.354449
2013-01-05 -0.209319 -0.975770 -0.578203 -0.838769
2013-01-06 -0.333299 -0.562387  0.889329  0.253120

In [17]:
df.sub(s, axis='index')

                   A         B         C         D
2013-01-01       NaN       NaN       NaN       NaN
2013-01-02       NaN       NaN       NaN       NaN
2013-01-03 -1.300876 -1.860324 -0.295289  0.015204
2013-01-04 -3.240824 -3.126300 -3.053645 -3.354449
2013-01-05 -5.209319 -5.975770 -5.578203 -5.838769
2013-01-06       NaN       NaN       NaN       NaN

In [18]:
df.apply(np.cumsum)

                   A         B         C         D
2013-01-01  0.717952 -1.115169  1.004862  1.536368
2013-01-02 -0.171553 -1.253221  2.431092 -0.661696
2013-01-03 -0.472429 -2.113546  3.135804  0.353507
2013-01-04 -0.713252 -2.239846  3.082158 -0.000941
2013-01-05 -0.922571 -3.215616  2.503955 -0.839710
2013-01-06 -1.255870 -3.778004  3.393284 -0.586590

In [29]:
#np.random.randint
#pd.concat

In [24]:
left = pd.DataFrame({'key': ['foo1', 'foo2'], 'lval': [1, 2]})

In [25]:
right = pd.DataFrame({'key': ['foo1', 'foo2'], 'rval': [4, 5]})

In [26]:
left

    key  lval
0  foo1     1
1  foo2     2

In [27]:
right

    key  rval
0  foo1     4
1  foo2     5

In [28]:
pd.merge(left, right, on='key')

    key  lval  rval
0  foo1     1     4
1  foo2     2     5

In [30]:
ts = pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2000', periods=1000))

In [31]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,columns=['A', 'B', 'C', 'D'])

In [32]:
df

                   A         B         C         D
2000-01-01 -0.985064  1.159863  0.732062 -1.096251
2000-01-02  0.722008 -0.066352 -0.853132 -0.043949
2000-01-03 -1.012777 -1.381402 -2.068203  0.551337
2000-01-04  1.479566 -1.183478  1.394708  1.819059
2000-01-05 -0.697622  0.249532  1.327615 -0.109978
2000-01-06 -1.086684  0.354612 -1.375506 -0.526975
2000-01-07 -1.722759 -0.144597  0.625852  0.539614
2000-01-08  0.097384 -0.954281 -0.728422  0.750677
2000-01-09  1.464396  0.054200  0.271179  0.161911
2000-01-10 -0.032688  0.275297  0.667480 -0.676506
2000-01-11 -0.155230  0.475609  1.173207  0.172064
2000-01-12  0.311531 -0.761190 -0.171782 -1.369488
2000-01-13  2.119402  0.198243  1.084600  0.975193
2000-01-14  0.204153  0.855092  1.651781 -0.340386
2000-01-15 -1.159000  0.638513 -0.385978  2.274497
2000-01-16 -0.643028 -0.064050 -0.031609  0.362915
2000-01-17  0.461698 -1.805173  0.131562  0.326409
2000-01-18  0.186006 -1.764298  0.263440  0.606187
2000-01-19 -0.082361  0.458035 -0.318150  1.272900
2000-01-20 -0.224902  1.068449  0.589970 -0.074051
2000-01-21  1.431964 -1.035480  0.815581 -1.186284
2000-01-22 -0.553408 -0.529445  1.153980  1.131285
2000-01-23 -0.835427 -2.021480  0.165261 -1.201350
2000-01-24  0.482440  1.190707  1.720359 -0.097696
2000-01-25  1.470178 -1.442107 -0.295953 -1.849439
2000-01-26  0.230597  1.143107  1.846367  0.800450
2000-01-27 -0.832473 -0.024010  0.234390 -2.851661
2000-01-28  0.042357  1.042736  0.484297 -0.496075
2000-01-29  0.883755 -0.808870  0.220558 -0.785503
2000-01-30 -0.603982 -0.067273 -0.844772  1.857556
...              ...       ...       ...       ...
2002-08-28  0.358336 -0.599917  1.066429  0.186486
2002-08-29 -0.471002 -0.116654  0.350555  0.274274
2002-08-30  0.730425 -0.311946 -1.123804  0.104082
2002-08-31 -0.022787  0.383767  1.659220  0.679369
2002-09-01  0.713192 -0.343193  1.162425  0.498457
2002-09-02 -0.312322  1.108117  1.795045  0.976786
2002-09-03  0.214900  0.852223  0.007891  1.376036
2002-09-04 -0.342775 -0.244981 -1.068967  1.150151
2002-09-05  0.122180  1.325794  1.615686 -1.325337
2002-09-06  1.630060 -1.027086 -0.428204  0.473050
2002-09-07 -0.834566  1.777630 -0.939323  1.109562
2002-09-08 -0.558476 -1.010957  0.796766  1.283639
2002-09-09  2.025081 -0.345944 -1.688251 -1.158666
2002-09-10 -0.309715 -0.964452 -0.481280  0.572491
2002-09-11  1.210664  0.020099 -0.843310 -2.246533
2002-09-12 -1.106982  0.489817 -0.609617  1.201141
2002-09-13  0.778700 -0.512542 -1.390467  1.244718
2002-09-14 -0.162244  0.520099  0.471122  0.026869
2002-09-15 -0.119933  0.469414 -1.408241 -1.092424
2002-09-16  1.019077  0.420748 -0.415650 -0.757122
2002-09-17 -1.146850  1.892365  0.951672  0.450462
2002-09-18 -1.704994  0.524209 -0.465148 -0.234417
2002-09-19 -0.316327 -0.799671 -2.100582  0.680438
2002-09-20 -0.170112 -1.422336  0.228616  0.513821
2002-09-21  0.875439  0.206660 -0.197281  1.565053
2002-09-22 -0.460915  1.685613  0.847416 -0.201399
2002-09-23  0.234463  0.818937 -0.332348  1.601066
2002-09-24  0.746692 -0.410214  1.282890  0.335756
2002-09-25  1.886603  0.420304  0.385989  0.260713
2002-09-26  0.265166 -0.091498  1.402849  1.201750

[1000 rows x 4 columns]

In [33]:
df.to_csv('foo.csv')

In [34]:
pd.read_csv('foo.csv')

     Unnamed: 0         A         B         C         D
0    2000-01-01 -0.985064  1.159863  0.732062 -1.096251
1    2000-01-02  0.722008 -0.066352 -0.853132 -0.043949
2    2000-01-03 -1.012777 -1.381402 -2.068203  0.551337
3    2000-01-04  1.479566 -1.183478  1.394708  1.819059
4    2000-01-05 -0.697622  0.249532  1.327615 -0.109978
5    2000-01-06 -1.086684  0.354612 -1.375506 -0.526975
6    2000-01-07 -1.722759 -0.144597  0.625852  0.539614
7    2000-01-08  0.097384 -0.954281 -0.728422  0.750677
8    2000-01-09  1.464396  0.054200  0.271179  0.161911
9    2000-01-10 -0.032688  0.275297  0.667480 -0.676506
10   2000-01-11 -0.155230  0.475609  1.173207  0.172064
11   2000-01-12  0.311531 -0.761190 -0.171782 -1.369488
12   2000-01-13  2.119402  0.198243  1.084600  0.975193
13   2000-01-14  0.204153  0.855092  1.651781 -0.340386
14   2000-01-15 -1.159000  0.638513 -0.385978  2.274497
15   2000-01-16 -0.643028 -0.064050 -0.031609  0.362915
16   2000-01-17  0.461698 -1.805173  0.131562  0.326409
17   2000-01-18  0.186006 -1.764298  0.263440  0.606187
18   2000-01-19 -0.082361  0.458035 -0.318150  1.272900
19   2000-01-20 -0.224902  1.068449  0.589970 -0.074051
20   2000-01-21  1.431964 -1.035480  0.815581 -1.186284
21   2000-01-22 -0.553408 -0.529445  1.153980  1.131285
22   2000-01-23 -0.835427 -2.021480  0.165261 -1.201350
23   2000-01-24  0.482440  1.190707  1.720359 -0.097696
24   2000-01-25  1.470178 -1.442107 -0.295953 -1.849439
25   2000-01-26  0.230597  1.143107  1.846367  0.800450
26   2000-01-27 -0.832473 -0.024010  0.234390 -2.851661
27   2000-01-28  0.042357  1.042736  0.484297 -0.496075
28   2000-01-29  0.883755 -0.808870  0.220558 -0.785503
29   2000-01-30 -0.603982 -0.067273 -0.844772  1.857556
..          ...       ...       ...       ...       ...
970  2002-08-28  0.358336 -0.599917  1.066429  0.186486
971  2002-08-29 -0.471002 -0.116654  0.350555  0.274274
972  2002-08-30  0.730425 -0.311946 -1.123804  0.104082
973  2002-08-31 -0.022787  0.383767  1.659220  0.679369
974  2002-09-01  0.713192 -0.343193  1.162425  0.498457
975  2002-09-02 -0.312322  1.108117  1.795045  0.976786
976  2002-09-03  0.214900  0.852223  0.007891  1.376036
977  2002-09-04 -0.342775 -0.244981 -1.068967  1.150151
978  2002-09-05  0.122180  1.325794  1.615686 -1.325337
979  2002-09-06  1.630060 -1.027086 -0.428204  0.473050
980  2002-09-07 -0.834566  1.777630 -0.939323  1.109562
981  2002-09-08 -0.558476 -1.010957  0.796766  1.283639
982  2002-09-09  2.025081 -0.345944 -1.688251 -1.158666
983  2002-09-10 -0.309715 -0.964452 -0.481280  0.572491
984  2002-09-11  1.210664  0.020099 -0.843310 -2.246533
985  2002-09-12 -1.106982  0.489817 -0.609617  1.201141
986  2002-09-13  0.778700 -0.512542 -1.390467  1.244718
987  2002-09-14 -0.162244  0.520099  0.471122  0.026869
988  2002-09-15 -0.119933  0.469414 -1.408241 -1.092424
989  2002-09-16  1.019077  0.420748 -0.415650 -0.757122
990  2002-09-17 -1.146850  1.892365  0.951672  0.450462
991  2002-09-18 -1.704994  0.524209 -0.465148 -0.234417
992  2002-09-19 -0.316327 -0.799671 -2.100582  0.680438
993  2002-09-20 -0.170112 -1.422336  0.228616  0.513821
994  2002-09-21  0.875439  0.206660 -0.197281  1.565053
995  2002-09-22 -0.460915  1.685613  0.847416 -0.201399
996  2002-09-23  0.234463  0.818937 -0.332348  1.601066
997  2002-09-24  0.746692 -0.410214  1.282890  0.335756
998  2002-09-25  1.886603  0.420304  0.385989  0.260713
999  2002-09-26  0.265166 -0.091498  1.402849  1.201750

[1000 rows x 5 columns]

In [38]:
df.to_hdf('foo.h5','df')

In [39]:
pd.read_hdf('foo.h5')

                   A         B         C         D
2000-01-01 -0.985064  1.159863  0.732062 -1.096251
2000-01-02  0.722008 -0.066352 -0.853132 -0.043949
2000-01-03 -1.012777 -1.381402 -2.068203  0.551337
2000-01-04  1.479566 -1.183478  1.394708  1.819059
2000-01-05 -0.697622  0.249532  1.327615 -0.109978
2000-01-06 -1.086684  0.354612 -1.375506 -0.526975
2000-01-07 -1.722759 -0.144597  0.625852  0.539614
2000-01-08  0.097384 -0.954281 -0.728422  0.750677
2000-01-09  1.464396  0.054200  0.271179  0.161911
2000-01-10 -0.032688  0.275297  0.667480 -0.676506
2000-01-11 -0.155230  0.475609  1.173207  0.172064
2000-01-12  0.311531 -0.761190 -0.171782 -1.369488
2000-01-13  2.119402  0.198243  1.084600  0.975193
2000-01-14  0.204153  0.855092  1.651781 -0.340386
2000-01-15 -1.159000  0.638513 -0.385978  2.274497
2000-01-16 -0.643028 -0.064050 -0.031609  0.362915
2000-01-17  0.461698 -1.805173  0.131562  0.326409
2000-01-18  0.186006 -1.764298  0.263440  0.606187
2000-01-19 -0.082361  0.458035 -0.318150  1.272900
2000-01-20 -0.224902  1.068449  0.589970 -0.074051
2000-01-21  1.431964 -1.035480  0.815581 -1.186284
2000-01-22 -0.553408 -0.529445  1.153980  1.131285
2000-01-23 -0.835427 -2.021480  0.165261 -1.201350
2000-01-24  0.482440  1.190707  1.720359 -0.097696
2000-01-25  1.470178 -1.442107 -0.295953 -1.849439
2000-01-26  0.230597  1.143107  1.846367  0.800450
2000-01-27 -0.832473 -0.024010  0.234390 -2.851661
2000-01-28  0.042357  1.042736  0.484297 -0.496075
2000-01-29  0.883755 -0.808870  0.220558 -0.785503
2000-01-30 -0.603982 -0.067273 -0.844772  1.857556
...              ...       ...       ...       ...
2002-08-28  0.358336 -0.599917  1.066429  0.186486
2002-08-29 -0.471002 -0.116654  0.350555  0.274274
2002-08-30  0.730425 -0.311946 -1.123804  0.104082
2002-08-31 -0.022787  0.383767  1.659220  0.679369
2002-09-01  0.713192 -0.343193  1.162425  0.498457
2002-09-02 -0.312322  1.108117  1.795045  0.976786
2002-09-03  0.214900  0.852223  0.007891  1.376036
2002-09-04 -0.342775 -0.244981 -1.068967  1.150151
2002-09-05  0.122180  1.325794  1.615686 -1.325337
2002-09-06  1.630060 -1.027086 -0.428204  0.473050
2002-09-07 -0.834566  1.777630 -0.939323  1.109562
2002-09-08 -0.558476 -1.010957  0.796766  1.283639
2002-09-09  2.025081 -0.345944 -1.688251 -1.158666
2002-09-10 -0.309715 -0.964452 -0.481280  0.572491
2002-09-11  1.210664  0.020099 -0.843310 -2.246533
2002-09-12 -1.106982  0.489817 -0.609617  1.201141
2002-09-13  0.778700 -0.512542 -1.390467  1.244718
2002-09-14 -0.162244  0.520099  0.471122  0.026869
2002-09-15 -0.119933  0.469414 -1.408241 -1.092424
2002-09-16  1.019077  0.420748 -0.415650 -0.757122
2002-09-17 -1.146850  1.892365  0.951672  0.450462
2002-09-18 -1.704994  0.524209 -0.465148 -0.234417
2002-09-19 -0.316327 -0.799671 -2.100582  0.680438
2002-09-20 -0.170112 -1.422336  0.228616  0.513821
2002-09-21  0.875439  0.206660 -0.197281  1.565053
2002-09-22 -0.460915  1.685613  0.847416 -0.201399
2002-09-23  0.234463  0.818937 -0.332348  1.601066
2002-09-24  0.746692 -0.410214  1.282890  0.335756
2002-09-25  1.886603  0.420304  0.385989  0.260713
2002-09-26  0.265166 -0.091498  1.402849  1.201750

[1000 rows x 4 columns]

In [40]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

In [44]:
df_excel=pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

In [45]:
type(df_excel)

pandas.core.frame.DataFrame

In [46]:
df_excel

    Unnamed: 0         A         B         C         D
0   2000-01-01 -0.985064  1.159863  0.732062 -1.096251
1   2000-01-02  0.722008 -0.066352 -0.853132 -0.043949
2   2000-01-03 -1.012777 -1.381402 -2.068203  0.551337
3   2000-01-04  1.479566 -1.183478  1.394708  1.819059
4   2000-01-05 -0.697622  0.249532  1.327615 -0.109978
5   2000-01-06 -1.086684  0.354612 -1.375506 -0.526975
6   2000-01-07 -1.722759 -0.144597  0.625852  0.539614
7   2000-01-08  0.097384 -0.954281 -0.728422  0.750677
8   2000-01-09  1.464396  0.054200  0.271179  0.161911
9   2000-01-10 -0.032688  0.275297  0.667480 -0.676506
10  2000-01-11 -0.155230  0.475609  1.173207  0.172064
11  2000-01-12  0.311531 -0.761190 -0.171782 -1.369488
12  2000-01-13  2.119402  0.198243  1.084600  0.975193
13  2000-01-14  0.204153  0.855092  1.651781 -0.340386
14  2000-01-15 -1.159000  0.638513 -0.385978  2.274497
15  2000-01-16 -0.643028 -0.064050 -0.031609  0.362915
16  2000-01-17  0.461698 -1.805173  0.131562  0.326409
17  2000-01-18  0.186006 -1.764298  0.263440  0.606187
18  2000-01-19 -0.082361  0.458035 -0.318150  1.272900
19  2000-01-20 -0.224902  1.068449  0.589970 -0.074051
20  2000-01-21  1.431964 -1.035480  0.815581 -1.186284
21  2000-01-22 -0.553408 -0.529445  1.153980  1.131285
22  2000-01-23 -0.835427 -2.021480  0.165261 -1.201350
23  2000-01-24  0.482440  1.190707  1.720359 -0.097696
24  2000-01-25  1.470178 -1.442107 -0.295953 -1.849439
25  2000-01-26  0.230597  1.143107  1.846367  0.800450
26  2000-01-27 -0.832473 -0.024010  0.234390 -2.851661
27  2000-01-28  0.042357  1.042736  0.484297 -0.496075
28  2000-01-29  0.883755 -0.808870  0.220558 -0.785503
29  2000-01-30 -0.603982 -0.067273 -0.844772  1.857556
..         ...       ...       ...       ...       ...
970 2002-08-28  0.358336 -0.599917  1.066429  0.186486
971 2002-08-29 -0.471002 -0.116654  0.350555  0.274274
972 2002-08-30  0.730425 -0.311946 -1.123804  0.104082
973 2002-08-31 -0.022787  0.383767  1.659220  0.679369
974 2002-09-01  0.713192 -0.343193  1.162425  0.498457
975 2002-09-02 -0.312322  1.108117  1.795045  0.976786
976 2002-09-03  0.214900  0.852223  0.007891  1.376036
977 2002-09-04 -0.342775 -0.244981 -1.068967  1.150151
978 2002-09-05  0.122180  1.325794  1.615686 -1.325337
979 2002-09-06  1.630060 -1.027086 -0.428204  0.473050
980 2002-09-07 -0.834566  1.777630 -0.939323  1.109562
981 2002-09-08 -0.558476 -1.010957  0.796766  1.283639
982 2002-09-09  2.025081 -0.345944 -1.688251 -1.158666
983 2002-09-10 -0.309715 -0.964452 -0.481280  0.572491
984 2002-09-11  1.210664  0.020099 -0.843310 -2.246533
985 2002-09-12 -1.106982  0.489817 -0.609617  1.201141
986 2002-09-13  0.778700 -0.512542 -1.390467  1.244718
987 2002-09-14 -0.162244  0.520099  0.471122  0.026869
988 2002-09-15 -0.119933  0.469414 -1.408241 -1.092424
989 2002-09-16  1.019077  0.420748 -0.415650 -0.757122
990 2002-09-17 -1.146850  1.892365  0.951672  0.450462
991 2002-09-18 -1.704994  0.524209 -0.465148 -0.234417
992 2002-09-19 -0.316327 -0.799671 -2.100582  0.680438
993 2002-09-20 -0.170112 -1.422336  0.228616  0.513821
994 2002-09-21  0.875439  0.206660 -0.197281  1.565053
995 2002-09-22 -0.460915  1.685613  0.847416 -0.201399
996 2002-09-23  0.234463  0.818937 -0.332348  1.601066
997 2002-09-24  0.746692 -0.410214  1.282890  0.335756
998 2002-09-25  1.886603  0.420304  0.385989  0.260713
999 2002-09-26  0.265166 -0.091498  1.402849  1.201750

[1000 rows x 5 columns]